#homies {
	padding: 20px 0px 0px 20px;
}

#homies .info {
	margin: 0px 20px 20px 0px;
}

#homies h1 {
	color: #252730;
	margin-bottom: 20px;
	line-height: 1em;
}

#homies_list {
	overflow: auto;
}

#homies_list li {
	background: #fff;
	margin-bottom: 20px;
	width: 180px;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	float: left;
	padding: 20px;
	overflow: auto;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}

#homies_list .user_name {
	font-size: 12pt;
	font-family: "Signika", sans-serif;
	line-height: 60px;
	margin-left: 70px;
}

#homies_list .user_image {
	width: 60px;
	height: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	display: block;
	float: left;
}