#homies {
	padding: 20px 0px 0px 20px;
}

#homies .info {
	margin: 0px 20px 20px 0px;
}

#homies h1 {
	color: #252730;
	margin-bottom: 20px;
	line-height: 1em;
}

#homies_list {
	overflow: auto;
}

#homies_list li {
	background: #fff;
	margin-bottom: 20px;
	width: 180px;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	float: left;
	padding: 20px;
	overflow: auto;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}

#homies_list .user_name {
	font-size: 12pt;
	font-family: "Signika", sans-serif;
	line-height: 60px;
	margin-left: 50px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 70px;
}

#homies_list .user_image, #message_label_container img {
	width: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	display: block;
	float: left;
	margin-top: 10px;
}

#homies_list .envelope {
    z-index: 10;
	float: right;
	margin-top: 12px;
}

.message_popup form {
	margin-right: 10px;
}

#message_input {
	width: 100%;
	height: 100px;
	resize: none;
	outline: 0px;
	-webkit-appearance: none;
	background: #fff;
	border: none;
	padding: 10px;
	font-size: 10pt;
	margin: 0;
	margin-top: -4px;
}

.message_popup {
	background: #f7f7f7 !important;
	padding-right: 10px;
}

#message_popup {
	overflow: hidden;
}

#message_label_container {
	background: #fff;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	overflow: auto;
	width: auto;
	display: inline-block;
	padding: 5px 15px;
}

#message_label_container label {
	font-size: 10pt;
	font-family: "Signika", sans-serif;
	line-height: 40px;
	margin-left: 10px;
	margin-bottom: 0;
}

#message_label_container img {
	margin: 0;
}

#send_message {
	background: #59bd41;
	color: #fff;
	text-decoration: none;
	font-size: 9pt;
	padding: 10px 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: none;
	margin: 10px 0px;
	float: right;
	margin-right: -20px;
	margin-bottom: 12px;
}

.indication {
	background: #bfefb9;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 20px;
	font-size: 10pt;
	margin-right: 20px;
	margin-bottom: 20px;
}

.error {
	background: #f28484;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 20px;
	font-size: 10pt;
	margin-right: 20px;
	margin-bottom: 20px;
}

#homies .homie_control {
    float: right;
	font-size: 7pt;
	padding: 5px 10px;
	margin: 19px -5px 0px 0px;
    z-index: 10;
}

#previous_messages {
	max-height: 200px;
	overflow-y: scroll;	
	overflow-x: hidden;
	clear: both;
	margin-right: -10px;
}

#previous_messages li {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
	padding-bottom: 14px;
	overflow: auto;
}

#previous_messages li .profile_picture {
	width: 25px;
	height: 25px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	float: left;
	margin-right: 7px;
	margin-top: 5px;
}

#previous_messages li .message_content {
	padding-top: 9px;
	width: 380px;
	float: left;
	display: inline-block;
}

.timeago {
	padding-top: 9px;
	float: right;
}

#homies .ui-dialog-titlebar-close {
    opacity: 0.15;
    float :left;
    width: 20px;
    height: 20px;
    margin-top: -17px;
    margin-left: -17px;
}

#homies .ui-dialog-titlebar-close:hover {
    opacity: 0.5;
}

#homies .ui-dialog .ui-dialog-content {
    opacity: 0;
}
#confirm_homie_removal {
    float:right;
	font-size: 8pt;
	padding: 4px 8px;
    margin: 12px 5px 0px 0px;

}

#cancel_button {
    float: right;
    font-size: 8pt;
	padding: 4px 8px;
    margin: 12px 3px 0px 0px;
}

#cancel_button:hover {
    background: #939393;
}

#confirm_homie_removal:hover {
    background: #c90b0b; 
}


