#homies {
	padding: 20px 0px 0px 20px;
}

#homies .info {
	margin: 0px 20px 20px 0px;
}

#homies h1 {
	color: #252730;
	margin-bottom: 20px;
	line-height: 1em;
}

#homies_list {
	overflow: auto;
}

#homies_list li {
	background: #fff;
	margin-bottom: 20px;
	width: 180px;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	float: left;
	padding: 20px;
	overflow: auto;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}

#homies_list .user_name {
	font-size: 12pt;
	font-family: "Signika", sans-serif;
	line-height: 60px;
	margin-left: 50px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 70px;
}

#homies_list .user_image, #message_label_container img {
	width: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	display: block;
	float: left;
	margin-top: 10px;
}

#homies_list .envelope {
    z-index: 10;
	float: right;
	margin-top: 12px;
}

.message_popup form {
	margin-right: 10px;
}

#message_input {
	width: 100%;
	height: 100px;
	resize: none;
	outline: 0px;
	-webkit-appearance: none;
	background: #fff;
	border: none;
	padding: 10px;
	font-size: 10pt;
	margin: 0;
	margin-top: -3px;
}

.message_popup {
	background: #f7f7f7 !important;
	padding-right: 10px;
}

#message_label_container {
	background: #fff;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	overflow: auto;
	width: auto;
	display: inline-block;
	padding: 5px 15px;
}

#message_label_container label {
	font-size: 10pt;
	font-family: "Signika", sans-serif;
	line-height: 40px;
	margin-left: 10px;
	margin-bottom: 0;
}

#message_label_container img {
	margin: 0;
}

.message_popup input[type=submit] {
	background: #59bd41;
	color: #fff;
	text-decoration: none;
	font-size: 9pt;
	padding: 10px 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: none;
	margin: 10px 0px;
}

.indication {
	background: #bfefb9;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 20px;
	font-size: 10pt;
	margin-right: 20px;
	margin-bottom: 20px;
}

#homies .homie_control {
    float: right;
	font-size: 7pt;
	padding: 5px 10px;
	margin: -41px -5px 0px 0px;
    z-index: 10;
}