* {
	margin: 0;
	padding: 0;
}

body {
	background: #d1d1d4;
	font-family: "equity-text", georgia, serif;
	font-size: 10pt;
}

footer {
	text-align: center;
}

header {
	background: #252730;
	height: 75px;
}

#logo {
	top: 15px;
	display: inline-block;
	position: relative;
}

.center {
	width: 940px;
	margin: 0px auto;
	height: 100%;
}

#panorama {
	height: 575px;
	background: url(images/panorama.png) center center no-repeat;
	width: 100%;
	background-size: 100% auto;
	min-width: 1025px;
	position: relative;
}

#header_text {
	background: url(images/header_text.png) center center no-repeat;
	margin: 0 auto;
	width: 940px;
	height: 190px;
	margin-top: -95px;
	margin-left: -470px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#login_button {
	display: inline-block;
	text-decoration: none;
	background: url(images/login_button.png) center center no-repeat;
	position: absolute;
	top: 90px;
	left: 50%;
	width: 252px;
	height: 68px;
	margin-left: -126px;
}

#container {
	margin: 0 auto;
	width: 940px;
	height: 190px;
	background: #efeff2;
	margin-top: 20px;
	border-bottom: 1px solid #bcbcbe;
	border-right: 1px solid #bcbcbe;
}
#canned_facebook {
    width:100%;
    text-align: center;
    margin-top: 8px;
	font-family: "Varela Round", Tahoma, "Gotham-Book", sans-serif;
    color: #3a4ca8;
}
