* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background: #dddde0;
    overflow-y: scroll;
}

body, .normal_text {
	font-size: 8pt;
	color: #313440;
	font-family: "Varela Round", Tahoma, "Gotham-Book", sans-serif;
}

:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}
button::-moz-focus-inner {
  border: 0;
}

b {
	font-family: Oxygen, Tahoma, "Gotham-Book", sans-serif;
}

a {
	color: #3a4ca8;
}

.info a {
    text-decoration: underline;
}

h1, h2, h3 {
	font-family: "Signika", sans-serif;
}

h1 { 
	font-size: 25pt;
}

footer {
	text-align: center;
}

header {
	background: #252730;
	height: 75px;
}

button {
    outline: none;
	cursor: pointer;
}

#logo {
	display: block;
	position: relative;
	background: #3a4ca8;
	padding: 10px 0px;
	padding-left: 20px;
	overflow: hidden;
	border-radius: 2px 0px 0px 0px; 
	-moz-border-radius: 2px 0px 0px 0px; 
	-webkit-border-radius: 2px 0px 0px 0px;
	border-bottom: 2px solid #32418f;
}

.center {
	width: 980px;
	margin: 0px auto;
	height: 100%;
}

#panorama {
	height: 575px;
	background: url(images/panorama.png) center center no-repeat;
	width: 100%;
	background-size: 100% auto;
	min-width: 1025px;
	position: relative;
}

#header_text {
	background: url(images/header_text.png) center center no-repeat;
	margin: 0 auto;
	width: 980px;
	height: 190px;
	margin-top: -95px;
	margin-left: -470px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#login_button {
	display: inline-block;
	text-decoration: none;
	background: url(images/login_button.png) center center no-repeat;
	position: absolute;
	top: 90px;
	left: 50%;
	width: 252px;
	height: 68px;
	margin-left: -126px;
}

#container {
	margin: 30px auto;
	width: 980px;
	border-bottom: 1px solid #bcbcbe;
	border-right: 1px solid #bcbcbe;
	overflow: hidden; 
}

#controls {
	height: 67px;
	overflow: auto;
	position: relative;
	background: #f7f7f7;
	border-bottom: 2px solid #e7e7e7;
	padding-right: 30px;
}

#controls a {
	float: right;
}

.messages_link {
	margin-top: 15px;
	margin-right: 15px;
}

#controls .profile_link {
	text-decoration: none;
	color: #888794;
	text-transform: uppercase;
}

#user_small_thumb_container {
	border: 2px solid #fff;
	width: 35px;
	height: 35px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	padding: 0px;
	float: left;
	margin-top: 14px;
}

#user_small_thumb_container div {
	width: 100%;
	height: 100%;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
}

#controls .username {
	line-height: 67px;
	left: 10px;
	float: left;
	position: relative;
}

#main_sidebar {
	background: #313440;
	min-height: 500px;
	width: 240px;
	float: left;
	border-radius: 2px 0px 0px 2px; 
	-moz-border-radius: 2px 0px 0px 2px; 
	-webkit-border-radius: 2px 0px 0px 2px;
	height: 100%;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}

#main_content {
	background: #f7f7f7;
	width: 740px;
	margin-left: 240px;
	min-height: 500px;
	border-radius: 0px 2px 2px 0px; 
	-moz-border-radius: 0px 2px 2px 0px; 
	-webkit-border-radius: 0px 2px 2px 0px;
	padding-bottom: 1px;
}

ul, ul li {
	list-style: none outside none;
}

#main_navigation li {
}

#main_navigation li a {
	color: #e5e8f8;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	display: block;
	font-size: 8pt;
	letter-spacing: 0.1em;
	font-weight: 100;
	padding-left: 50px;
	background-position: 20px 50%;
	background-repeat: no-repeat;
}

#main_navigation li a:hover {
    background-color: #292b34;
}

#main_navigation li a.selected {
	background-color: #252730;
	color: #fff;
}

.expats_page_link {
	background-image: url(images/globe_blue.png);
}

.expats_page_link.selected {
	background-image: url(images/globe.png);
}

.homies_page_link {
	background-image: url(images/people_blue.png);
}

.homies_page_link.selected {
	background-image: url(images/people.png);
}

.help_page_link {
	background-image: url(images/help_blue.png);
}

.help_page_link.selected {
	background-image: url(images/help.png);
}

.info {
	background: #dee2f6;
	margin: 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 20px;
	font-size: 10pt;
	color: #3a4ca8;
}

.location {
	margin-bottom: 10px;
}

.caption {
}

.control_button {
    cursor: pointer;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 9pt;
	padding: 10px 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: none;
	margin: 17px 0px 0px 20px;
}

#get_matched_button {
	background: #59bd41;
}

#get_matched_button:hover {
	background: #4ea739;
}

#matches_ready_button {
	background: #3a4ca8;
}

#matches_ready_button:hover {
	background:#303f8c;
}

#post_hangout_button {
	background: #f16563;
}

#post_hangout_button:hover {
	background:#d75a59;
}

footer {
	width: 100%;
	background: #252730;
	position: relative;
	z-index: 3;
	border-radius: 0px 0px 2px 2px; 
	-moz-border-radius: 0px 0px 2px 2px; 
	-webkit-border-radius: 0px 0px 2px 2px;
	color: #e5e8f8;
	padding: 20px 0;
}

.triangle-topright { 
    width: 0; 
    height: 0; 
    border-top: 20px solid #ffec1c; 
    border-left: 20px solid transparent;
    position: absolute;
	top: 0;
	right: 0;
}
