#profile {
    padding: 20px;
    overflow: auto;
}

#profile h1 {
	color: #484d5e;
}

#profile .thumbnail img {
    width: 100px;
    height: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#profile #picture_selector {
    margin-left: 40px;
    margin-top: 25px;
}

#profile #save_profile_button {
    float: right;
	background: #59bd41;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 9pt;
	padding: 10px 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: none;
}

#profile #about_you {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

#profile .question_set {
    width: 100%;
    overflow: auto;
}

#profile .question {
    font-size: 12pt;
    float: left;
    margin: 20px 0px 20px 100px;
}

#profile .question_set span {
    width: 250px; 
    float: right; 
    margin: 23px 110px 20px 0px;
}

#profile #slider_label {
    width: 290px;
    float: right;
    margin: 5px 95px -10px 0px;
}

#profile #slider_label #low_label {
    float: left;
}

#profile #slider_label #high_label {
    float: right;
}

ul.thumbnails.image_picker_selector {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
}
ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
}
ul.thumbnails.image_picker_selector li.group_title {
    float: none; 
}
ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; 
}
ul.thumbnails.image_picker_selector li .thumbnail {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
}
ul.thumbnails.image_picker_selector li .thumbnail img {
    -webkit-user-drag: none; 
    border: 6px solid transparent;
    border-radius: 100px;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected img {
    border-color: #3a4ca8;
}


.profile_popup {
    position: fixed !important;
    background: #f7f7f7;
}

.profile_popup .ui-dialog-titlebar {
    border: 0px;
    background-color: transparent !important;
    background: none;
}

.profile_popup .ui-dialog-title {
    color: #f7f7f7;
}

.profile_popup .ui-dialog-content {
    background: #f7f7f7;
    overflow: hidden;
}

#profile_info {
    margin-top: -15px;
}

#profile_pic {
    width: 200px;
    height: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
    margin: 10px 20px;
    z-index: 100;
}

#profile_name {
    position: absolute;
    top: 65px;
    left: 250px;
}

#profile_from_title {
    position: absolute;
    top: 110px;
    left: 253px;
}

#profile_from {
    position: absolute;
    top: 110px;
    right: 20px;
    font-family: "Signika", sans-serif;
    font-size: 16pt;
    text-transform: capitalize;
}

#profile_like_button {
    position: absolute;
/*
    background: #59bd41;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30pt;
	padding: 3px 8px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: none;
*/
    right: 21px;
    top: 0px;

	cursor: pointer;
	padding: 3px 15px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20pt;
	
	/*
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0;
	background: #ddd;
	border: 2px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	border-bottom: 11px solid #bbb;
	*/
	background: #ddd;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 3px 10px;
	border: none;
}

#profile_like_button:hover {
	background: #ccc;
}

#profile_like_button:active, #profile_like_button.depressed {
	/*
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 3px solid #bbb;
	*/
} 

#profile_like_button.depressed {
	background: #ffec1c;
	/*
	border: 2px solid #eedc14;
	border-top: 1px solid #eedc14;
	border-bottom: 3px solid #e7d513;
	*/
}

#profile_likes_div {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 535px;
    height: 300px;
    padding: 0px 0px 0px 20px;
}

#likes_header {
    font-family: "Signika", sans-serif;
    font-size: 16pt;
}

#profile_likes_div li {
	width: 82px;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 15px;
	float: left;
	margin-right: 20px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-top: 10px;
    margin-bottom: 10px;
}

#profile_likes_div img {
	width: 65px;
	height: 65px;
	-moz-border-radius: 65px;
	-webkit-border-radius: 65px;
	border-radius: 65px;
	margin: 0px auto;
    padding: 5px 5px 10px 5px;
	display: block;
}

#profile .ui-widget-header {
	border: 1px solid #252730;
	background: #3a4ca8 url("images/ui-bg_flat_75_3a4ca8_40x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}