<div id="expats">
	<div id="panorama_c">
		<div id="panorama">
			<h1>Meet other Americans in Singapore</h1>
		</div>
	</div>
	
	<p class="info">In order to best match you with others in your area, we could use some input from you. Check the users whose profiles you find interesting, and we'll try our best to match you with them.</p>

	<ul id="expats_list">
	</ul>
</div>

<script>
String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

$.getJSON("users.json", function(data) {
	for(var i=0; i<data.length; i++) {
		var user = data[i][0].user;
		var html = $("<li></li>");
	
		html.append("<img class='user_image' src='" + user.picture + "' alt='user' />");
		html.append("<p class='user_name'>" + user.name.first.capitalize() + " " +  user.name.last[0].capitalize() + ".</p>");
		html.append("<p class='location'>Singapore, Singapore</p>");
		html.append("<p class='caption'>Love me pleeeeease!!</p>");


		$("#expats_list").append(html);
	}
});
</script>