<div id="expats">
	<div id="panorama_c">
		<div id="panorama">
			<h1 id="panorama_title">Meet other Americans in Singapore</h1>
		</div>
	</div>
	
	<p class="info"><b>Star</b> the users whose profiles you find interesting, and we'll try our best to match you with them (<b>we won't let them know</b>).</p>
	
	<div id="filter_users">
	  <p>Filter by: <input type="text" value="hometown" id="filter_users_input" onfocus="if(this.value == 'hometown') {this.value = '';}" onblur="if (this.value == '') {this.value = 'hometown';}" /><select id="state_filter" name="state">
	      <option value="" id="default_state_value">state</option>
	    </select>
	    <a href="#" title="Reset Filters" id="reset_filters" class="normal_text">reset filter</a>
	  </p>
	</div>

	<ul id="expats_list">
	</ul>
</div>

<script>
String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

Number.prototype.clamp = function(min, max) {
  return Math.min(Math.max(this, min), max);
};

$.getJSON("users.json", function(data) {
	for(var i=0; i<data.length; i++) {
		var user = data[i][0].user;
		var username = user.name.first.capitalize() + " " +  user.name.last[0].capitalize() + ".";
		var html = $("<li class='expat'></li>");
		var link = $("<a onclick='profile(" + i + ")' href='javascript:void(0);' title='" + username + "' class='normal_text'></a>");
		
		if($.cookie("user" + String(i)) == "liked") {
			console.log(i)
			link.append("<div class='triangle-topright'><img src='images/star.png' alt='' class='star' /></div>");
		}
		
		link.append("<img class='user_image' src='" + user.picture + "' alt='user' />");
		link.append("<p class='user_name'>" + username + "</p>");
		link.append("<p class='hometown'>Hometown: "+ user.location.city.capitalize() + ", " + user.location.state +"</p>");
		
		html.append(link);

		$("#expats_list").append(html);
	}
});


    
$(document).ready(function(){
    var states = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'];
    for(var i in states) $("#state_filter").append("<option value='"+states[i]+"'>"+states[i]+"</option>");
    
    function isIn(str, substr) {
      return str.indexOf(substr) > 0;
    }
    
    function filter_by(state, hometown) {
      $.each($(".expat"), function() {
        if($(this).is(":visible")) {
          if(state && !isIn($(".hometown", this).text().split(",")[1], state)) $(this).hide();
          
          if(hometown && hometown != "hometown" && !isIn($(".hometown", this).text().toLowerCase().split(",")[0], $.trim(hometown.toLowerCase()))) $(this).hide();
        } else {
          if(state) {
            if(isIn($(".hometown", this).text().split(",")[1], state)) {
              if(hometown && hometown != "hometown") {
                 if(isIn($(".hometown", this).text().toLowerCase().split(",")[0], $.trim(hometown.toLowerCase()))) $(this).show();
                 else $(this).hide();
              } else {
                $(this).show();
              }
            }
          } else {
            if(hometown && hometown != "hometown") {
               if(isIn($(".hometown", this).text().toLowerCase().split(",")[0], $.trim(hometown.toLowerCase()))) $(this).show();
               else $(this).hide();
            } else {
              $(this).show();
            }
          }
        }
      });
        
    }    
    
    $("#reset_filters").click(function() {
      $("#state_filter option").removeAttr("selected");
      $("#default_state_value").attr("selected", "selected");
      $("#filter_users_input").val("hometown");
      filter_by($("#state_filter option:selected").val(), $("#filter_users_input").val());
      return false;
    });
    
    $("#filter_users_input").keyup(function() {
      filter_by($("#state_filter option:selected").val(), $("#filter_users_input").val());
    });
    
    $("#state_filter").change(function() {
      filter_by($("#state_filter option:selected").val(), $("#filter_users_input").val());
    });
    
    // begin code to make header sticky
    $("#panorama_c").sticky( {topSpacing:-65} );
    
    $(window).scroll(function() {
        var scrolled = $(window).scrollTop();
        var offset = ((scrolled-99)*1.1).clamp(42, 73);
        $('#panorama_title').css('padding-top', offset);
        console.log($("#panorama_title").css("padding-top"));
    });
    // end code to make header sticky
});
</script>