<div id="help">
	<div id="panorama_c">
		<div id="panorama">
			<h1>Help/FAQ</h1>
		</div>
	</div>
    
    <div id="faq">
        <h2 class="question">How do you match us?</h2>
        <p class="answer">The matches are individually hand-picked by us to ensure you have the most fun possible. We use the the suggestions you have given us by "starring" profiles you like in the Expats section as well as your mutual Likes and Interests to find an ideal match.</p>
    
        <h2 class="question">What do I do?</h2>
        <p class="answer">
            First, select your coolest profile picture to put your best face forward, and answer a few quick questions so we can get to know you better.<br><br> 
            Then, check out some of the profiles of other expats in your area and "star" the ones you like, to give us a sense of the type of people and interests you want to be friends with.<br><br>
            Then, head over to <a href="?page=matches1">Get Matched</a> and you can request a match for either tonight or tomorrow night. If anyone you starred is free, we'll try to match you with them! Give us some time to pick out the coolest people we can to match you with-- we'll let you know when your matches are ready!<br><br>
            Once they are ready, we'll give you the pictures and names of the people you'll be meeting up with, as well as the location. From then on, head out and have fun!<br><br>
            After you've returned, you'll get the chance to let us know who you really clicked with, and we'll do our best to make sure you get matched up again!</p>
    
        <h2 class="question">How can I make sure we have fun?</h2>
        <p class="answer">There are a few simple steps to make sure you have fun on your hangout:<br>
            -Get to know each other! Don't be afraid to share that embarrassing story from middle school.<br>
            -Keep in touch! After you've clicked with someone and you become <a href="?page=homies">Homies</a>, message them in a few days to see if they want to hang out again.</p>
    </div>
    
</div>