<div id="homies">
	<h1>Homies</h1>
	
	<p class="info" id="homies_help">Invite them to go out again by clicking on the envelope icon and sending a message.</p>
	
	<ul id="homies_list">
	</ul>
</div>

<div id="message_popup" style="display: none">
    <ul id="previous_messages"></ul>
    <form action="#" method="post">
		<div id="message_label_container" for="message_input"><img id="user_picture"><label id="message_receiver"></label></div>
		<textarea id="message_input"></textarea>
		<input type="submit" value="Send" id="send_message" />
	</form>
    <script type="text/javascript">
        $("#send_message").click(function(evt) {
			$(".ui-dialog-titlebar-close").trigger("click");
			
            if ("" === $("#message_input").val()) {
                $("#homies .info").after('<p class="indication" style="display: none;">Empty message. Nothing was sent!</p>');
            } else {
                var index = $("#message_popup").data("user");
                if (undefined === $.cookie("messages"+index)) {
                    $.cookie("messages"+index, 1);
                } else {
                    $.cookie("messages"+index, parseInt($.cookie("messages"+index))+1);
                }
                $.cookie("homieMessage"+index+"-"+$.cookie("messages"+index), $("#message_input").val());
                $("#homies .info").after('<p class="indication" style="display: none;">Message was sent!</p>');
            }
			$(".indication").slideDown();
			
			setTimeout(function(){ 
				$("#homies .indication").slideUp(400, function() {
					$(this).remove();
				}); 
			},3000);
			
			return false;
        });
    </script>
</div>

<script>
String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

$.getJSON("users.json", function(data) {
    var anyHomies = ("yes" === $.cookie("finishedMatch"));
    if (!anyHomies) {
        $("#homies_help").html('You have no homies! How about you head over to <a id="matches_link" href="?page=matches' + $.cookie("match_progress") + '">Get Matched</a> and meet some people?');
        return;
    }
	for(var i=0; i<3; i++) {
        var user = data[i][0].user;
        var username = user.name.first.capitalize() + " " +  user.name.last[0].capitalize() + ".";
        var html = $("<li></li>");
        var link = $("<a href='javascript:void(0);' onclick='profile(" + i + ")' title='" + username + "' class='normal_text'></a>");

        if ("homies" === $.cookie("homie"+i)) {
            html.append('<a href="javascript:void(0);" onclick="message(' + i + ')"><img src="images/envelope_white.png" alt="envelope" class="envelope" width="35" style="opacity: .1" />');
        }
        
        link.append("<img class='user_image' src='" + user.picture + "' alt='user' />");
        link.append("<p class='user_name'>" + username + "</p>");
        
        if ("pending" === $.cookie("homie"+i)) {
            link.append("<button class='homie_control pending_homie_button' id='pending_homie_button" + i + "''>PENDING</button>");
        } else if (undefined === $.cookie("homie"+i)) {
            link.append("<button class='homie_control add_homie_button' id='add_homie_button" + i + "''>ADD</button>");
        }  else if ("confirm" === $.cookie("homie"+i)) {
            link.append("<button class='homie_control confirm_homie_button' id='confirm_homie_button" + i + "''>CONFIRM</button>");
        }
        
        html.append(link);

        $("#homies_list").append(html);
        
        $("#add_homie_button"+i).click(function(evt) {
            var intRegex = /[0-9 -()+]+$/;
            var index = evt.target.id.match(/[0-9 -()+]+$/)[0];

            $.cookie("homie"+index, "pending");
            window.location.href = "index.html?page=homies";
        });
        
        $("#confirm_homie_button"+i).click(function(evt) {
            var intRegex = /[0-9 -()+]+$/;
            var index = evt.target.id.match(/[0-9 -()+]+$/)[0];

            $.cookie("homie"+index, "homies");
            window.location.href = "index.html?page=homies";
        });
	}
});
    
var message = function(index) {
    $.getJSON("users.json", function(data) {
        var user = data[index][0].user;
        var username = user.name.first.capitalize() + " " +  user.name.last[0].capitalize() + ".";
		$("#message_receiver").text(username);
		$("#user_picture").attr("src", user.picture);
		$("#user_picture").attr("alt", username);
        $("#message_input").val("");
    });
    
    var numMessages = parseInt($.cookie("messages"+index));
    for(var i = 0; i < numMessages; i++) {
        var oldMessage = $('<li></li>');
        // append stuff to oldMessage if you need it. all messages will
        // be sent by user so you can probably just pull in user pic
        oldMessage.append($.cookie('homieMessage'+index+'-'+(i+1)));
        $("#previous_messages").append(oldMessage);
    }
    
    var popupHeight = 400;
    var offset = 50;
    var position = "center top+" + offset;
    $("#message_popup").dialog({
        height: "auto",
        width: 575,
        modal: true,
        dialogClass: "message_popup",
        draggable: false,
        open: function(event, ui) { $('.ui-widget-overlay').bind('click', function(){ $("#message_popup").dialog('close'); }); },
    }).parent()
    .position({
        my: "center top+" + offset,
        of: "#controls",
    });
    $("#message_popup").data("user", index);
}
</script>