<script type="text/javascript">
    var checkCookies = function() {
        var matchProgress = $.cookie("match_progress");
        if (matchProgress == undefined) {
            $.cookie("profile_pic", "0");
            $.cookie("match_progress", "1")
            window.location.href = "indexf.html?page=profile";
        } else if (matchProgress === "3" || matchProgress === "4") {
            window.location.href = "indexf.html?page=matches"+matchProgress;
        } else {
            window.location.href = "indexf.html?page=expats";
        }
    }
</script>

<section id="panorama">
	<div id="header_text">
		<a href="#" title="Login with Facebook" id="login_button"></a>
	</div>
</section>
<div id="canned_facebook"><a href="javascript:void(0);" onclick="cannedFacebook()">Login with canned Facebook</a>.</div>

<script>
// Facebook login stuff
// Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
        document.getElementById('status').innerHTML = 'Good to see you, ' +
          response.name;
      });
    }
    
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1410127102594412',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.0' // use version 2.0
      });
      
      function getProfilePics(response) {
          FB.api("/me", {fields: "id,first_name,last_name,picture"}, function(response) {
              var name = response.first_name + " " + response.last_name[0] + ".";
              $.cookie("user_name", name);
                FB.api({
                    method: 'fql.query',
                    query: 'SELECT pid, src_big, src_big_height, src_big_width FROM photo WHERE aid IN ( SELECT aid FROM album WHERE owner="' + response.id + '" AND name = "Profile Pictures")'
                },function(data) {
                    var urls = "";
                    for(var i in data) {
                        urls += data[i].src_big + ",";
                    }
                    $.cookie("profile_pictures", urls);
                    checkCookies();
                });
            });
      }
      
      FB.getLoginStatus(function(response) {
          if(response.status == "connected") {
              checkCookies();
          }
      });
      
      $("#login_button").click(function() {
          FB.login(function(response){
            getProfilePics(response);
          }, {scope: 'email,user_photos'});
          return false;
      });

    };
    
    function cannedFacebook() {
        $.cookie("user_name", "Claire T.");
        $.cookie("profile_pictures", "images/user1.jpg,/images/user2.jpg,/images/user3.jpg,/images/user4.jpg,/images/user5.jpg");
        checkCookies();
    }
</script>