<script type="text/javascript">
    $(document).ready(function() {
        if ($.cookie("match_progress") === "3") {
            window.location.href = "index.html?page=matches3";
        } else {
            $.cookie("match_progress", "3")
        }
    });
</script>

<div id="matches">
    <h1>Hold on!</h1><br>
    <h2>We've got a team of kittens working on your matches!</h2>
    <img id="cat_drawing" src="images/cats_drawing.png">
    <p class="info">Canned response. <a href="index.html?page=matches3">Jump to matches</a> or refresh the page.</p><br>
</div>