<script type="text/javascript">
    $(document).ready(function() {
        if ($.cookie("match_progress") === "4") {
            window.location.href = "index.html?page=matches4";
            return;
        }
        $("#match_time").text($.cookie("match_time"));
        $.cookie("match_progress", "4");
        if ($.cookie("homie0") == undefined) {
            $.cookie("homie0", "confirm");
        }
        if ($.cookie("homie2") == undefined) {
            $.cookie("homie2", "confirm");
        }
    });
    
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }
    
    $.getJSON("users.json", function(data) {
        for(var i=0; i<3; i++) {
            var user = data[i][0].user;
            var username = user.name.first.capitalize() + " " +  user.name.last[0].capitalize() + ".";
            var html = $("<li class='expat'></li>");
            var link = $("<a onclick='profile(" + i + ")' href='javascript:void(0);' title='" + username + "' class='normal_text'></a>");
            
            if($.cookie("user" + String(i)) == "liked") {
                console.log(i)
                link.append("<div class='triangle-topright'><img src='images/star.png' alt='' class='star' /></div>");
            }
            
            link.append("<img class='user_image' src='" + user.picture + "' alt='user' />");
            link.append("<p class='user_name'>" + username + "</p>");
            link.append("<p class='location'>Singapore, Singapore</p>");
            link.append("<p class='hometown'>Hometown: "+ user.location.city.capitalize() + ", " + user.location.state +"</p>");

            html.append(link);

            $("#match_list").append(html);
        }
    });

</script>

<div id="matches">
    <h1>Congrats!</h1><br>
    <h2>We matched you for <span id="match_time"></span> with...</h2>
    <ul id="match_list"></ul>
    <br>
    <h2>We notified them already that you'll meet at 9pm:</h2>
    <h3>
        <em>The Green Fairy</em><br>
        345 Nowhere St, Singapore
    </h3><br>
    <h2>Go get ready!</h2><br>
    <p class="info">Canned response. <a href="index.html?page=matches4">Click here</a> to see the post-meetup review.</p>
</div>