<script type="text/javascript">
    $(function() {
        $("#match_confirm_button").click(function(evt) {
            $.cookie("match_progress", "2");
            $.cookie("match_time", $("#match_for").val());
            window.location.href = "index.html?page=matches2";
        });
    });
</script>

<div id="matches">
    <h1>Request matches</h1>
    <h2>for</h2>
    <select id="match_for">
        <option value="tonight">Tonight</option>
        <option value="tomorrow night">Tomorrow</option>
    </select>
    <label id="match_for_label" for="match_for">at 9pm</label>
    <h1>in Singapore</h1>
    <p class="info">When you're ready, we'll hand pick three other awesome people and let you know what cool venue you'll be meeting at!</p>
    <button id="match_confirm_button">Confirm</button>
</div>