<script src="javascript/image-picker.js"></script>

<div id="profile">
	<h1>Settings</h1>
    
    <div id="picture_selector">
        <select class="image-picker show-html">
        </select>
    </div>
    
    <div id="about_you">
        <div id="slider_label">
            <p id="low_label">Not at all</p>
            <p id="high_label">Totally!</p>    
        </div>
        
        <div class="question_set">
            <p class="question">Are you a party animal?</p>
            <span id="slider1">3</span>
        </div>

        <div class="question_set">
            <p class="question">Are you an intellectual?</p>
            <span id="slider2">3</span>
        </div>
            
        <div class="question_set">
            <p class="question">Do you love crude humor?</p>
            <span id="slider3">3</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        
        var pics = $.cookie("profile_pictures").split(",");
        var pics_select_number = 5;
        if (pics.length-1<5) {
            pics_select_number = pics.length-1;
        }
        for(var p=0; p<pics_select_number; p++) {
            var html = '<option data-img-src="'+pics[p]+'" value="'+p+'">'+p+'</option>';
            $("#picture_selector select").append(html);
        }
        
        if($.cookie("profile_pic") == null) {
            $.cookie("profile_pic", "1");
        }
        
        // setup image-picker
        $("select").val($.cookie("profile_pic"));
        $("#picture_selector select").imagepicker({
            changed: function(previous, current) {
                $.cookie("profile_pic", current);
                $("#user_thumb").attr("src", pics[$.cookie("profile_pic")]);
            },
        });
        
        var j = 1;
        // setup sliders
        $(".question_set > span").each(function() {
            var value = $.cookie("slider" + j);
            if (value == undefined) {
                value = "3";
                $.cookie("slider" + j, "3");
            }
            
            var value = parseInt( value, 10 );
            $(this).empty().slider({
                value: value,
                orientation: "horizontal",
                animate: true,
                min: 1,
                max: 5,
                step: 1,
                range: "min",
                change: function(event, ui) {
                    $.cookie(event.target.id, ui.value);
                },
            });
            
            j++;
        });
    });
</script>