<script src="javascript/image-picker.js"></script>
<link rel="stylesheet" type="text/css" href="image-picker.css" />

<div id="profile">
    <button id="save_profile_button">Save</button>
    
	<h1>Update your profile</h1>
    
    <div id="picture_selector">
        <select class="image-picker show-html">
            <option data-img-src="images/user.jpg" value="1">1</option>
            <option data-img-src="images/user.jpg" value="2">2</option>
            <option data-img-src="images/user.jpg" value="3">3</option>
            <option data-img-src="images/user.jpg" value="4">4</option>
            <option data-img-src="images/user.jpg" value="5">5</option>
        </select>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("select").imagepicker();
    });
</script>